
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 25px;
    background-color: #dff7ed; 
    color: #024731; 
}

#table-wrapper {
    width: 92%;
    margin: 0 auto;
}


h2 {
    text-align: center;
    color: #024731;
    font-size: 28px;
    margin-bottom: 30px;
}


.gridjs-table {
    width: 100%;
    border: 2px solid #026c4d !important; 
    border-collapse: collapse;
    background-color: white;
}


.gridjs-th {
    background-color: #6ebf8b !important; 
    color: #ffffff !important;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}


.gridjs-td {
    border-bottom: 1px solid #b2e0c4 !important; 
    padding: 10px;
    font-size: 15px;
}


.gridjs-tr:hover {
    background-color: #f4fbf7;
}
