
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}


.navbar {
    background: black;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 10px;
    background: #007bff;
    transition: background 0.3s ease;
}

.navbar a:hover {
    background: #0056b3;
}

.gridjs-table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #064e3b !important;
    margin: 40px auto;
    background-color: white;
    font-size: 16px;
}

.gridjs-th {
    background-color: #88c093 !important; 
    color: white !important;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #064e3b;
}

.gridjs-td {
    padding: 10px;
    border-bottom: 1px solid #a1d6af !important; 
}

.gridjs-tr:hover {
    background-color: #f9f9f9;
}

/* Pagination styling */
.gridjs-footer {
    text-align: center;
    padding: 15px;
}

.gridjs-pagination {
    margin-top: 10px;
}

.gridjs-pagination button {
    padding: 6px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.gridjs-pagination .active {
    background-color: #007bff;
    color: white;
    border: none;
}

